# Highest and lowest price

Using `sort_values` and the data from the _product_prices_renamed.csv_ the file answer the questions below — use data aggregated for entire Poland (`province=='POLAND'`):

1. What product had the highest 'PLN' price in history? (remember to remove the value = 3000)?
1. What product achieved the lowest 'PLN' price in history? (remember to filter out values = 0),

Sort the data according to the following key:

1. by **product_types** column – descending
1. by **value** column – ascending

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../01_Data/product_prices_renamed.csv', sep=';', decimal='.')

In [3]:
data['province'].unique()

array(['SUBCARPATHIA', 'ŁÓDŹ', 'KUYAVIA-POMERANIA', 'LOWER SILESIA',
       'WARMIA-MASURIA', 'HOLY CROSS', 'WEST POMERANIA', 'POLAND',
       'PODLASKIE', 'GREATER POLAND', 'POMERANIA', 'LESSER POLAND',
       'SILESIA', 'MASOVIA', 'LUBLIN', 'LUBUSZ', 'OPOLE'], dtype=object)

In [4]:
data_poland_cleaned = data[(data['province'] == 'POLAND')
    & (data['value'] != 3000)
    & (data['value'] != 0.00)
]

1) What product had the highest 'PLN' price in history? (remember to remove the value = 3000)?

In [5]:
data_poland_cleaned.sort_values(
    by=['value', 'product_types'],
    ascending=[False, True],
    na_position='last'
)

,province,product_types,currency,product_group_id,product_line,value,date
104451,POLAND,NaN,PLN,2,boneless beef (sirloin) - per 1kg,31.90,2018-5
115089,POLAND,NaN,PLN,2,boneless beef (sirloin) - per 1kg,31.81,2017-10
78146,POLAND,NaN,PLN,2,boneless beef (sirloin) - per 1kg,31.71,2018-10
117199,POLAND,NaN,PLN,2,boneless beef (sirloin) - per 1kg,31.70,2017-9
121704,POLAND,NaN,PLN,2,boneless beef (sirloin) - per 1kg,31.61,2015-12
...,...,...,...,...,...,...,...
148996,POLAND,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,NaN,1999-10
149010,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2010-3
149398,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2017-11
149548,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-1
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10

2) What product achieved the lowest 'PLN' price in history? (remember to filter out values = 0),

In [6]:
data_poland_cleaned.sort_values(
    by=['value', 'product_types'],
    ascending=[True, True],
    na_position='last'
)

,province,product_types,currency,product_group_id,product_line,value,date
4910,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.02,2019-4
5282,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.02,2019-4
111812,POLAND,NaN,PLN,2,Backpacker's canned pork meat - per 300 g,0.09,2019-3
14851,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.17,2019-5
79905,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.17,2019-5
...,...,...,...,...,...,...,...
148996,POLAND,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,NaN,1999-10
149010,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2010-3
149398,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2017-11
149548,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-1
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10

In [7]:
df = pd.read_csv(
  "../../01_Data/product_prices_renamed.csv",
  sep=';',
  encoding='UTF-8',
  decimal='.'
)

In [8]:
df.shape[0]

149940

In [9]:
df.head(5)

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [10]:
# What product had the highest 'PLN' price in history? (remember to remove the value = 3000)?
# dataframe without 3000 a 0
df_trimed = df.loc[
    (df['value'] != 3000) &
    (df['value'] != 0)
]
df_trimed.shape[0]

110864

In [11]:
df_trimed.sort_values(
    by=['value'],
    ascending=[False], 
    na_position='last'
)

,province,product_types,currency,product_group_id,product_line,value,date
69229,POMERANIA,NaN,PLN,2,boneless beef (sirloin) - per 1kg,36.68,2013-4
143739,KUYAVIA-POMERANIA,NaN,PLN,2,boneless beef (sirloin) - per 1kg,36.53,2017-4
45456,KUYAVIA-POMERANIA,NaN,PLN,2,boneless beef (sirloin) - per 1kg,36.45,2018-11
91075,KUYAVIA-POMERANIA,NaN,PLN,2,boneless beef (sirloin) - per 1kg,36.31,2017-3
100072,POMERANIA,NaN,PLN,2,boneless beef (sirloin) - per 1kg,36.07,2012-7
...,...,...,...,...,...,...,...
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10
149900,WARMIA-MASURIA,NaN,PLN,4,bread - per 1kg,NaN,2014-10
149911,SILESIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,NaN,2018-8
149921,SUBCARPATHIA,NaN,PLN,2,fresh non-dressed trout - per 1kg,NaN,2002-5
149927,PODLASKIE,NaN,PLN,2,fresh non-dressed carp - per 1kg,NaN,2004-8

In [12]:
print(f"The highest value has:\n{df_trimed.loc[69229]}")

The highest value has:
province                                    POMERANIA
product_types                                     NaN
currency                                          PLN
product_group_id                                    2
product_line        boneless beef (sirloin) - per 1kg
value                                           36.68
date                                           2013-4
Name: 69229, dtype: object

In [13]:
df_trimed.sort_values(
    by=['value'],
    ascending=[True], 
    na_position='last'
)

,province,product_types,currency,product_group_id,product_line,value,date
910,ŁÓDŹ,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.002410,2019-7
22423,OPOLE,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.002410,2001-6
33103,OPOLE,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.004819,2019-12
85616,OPOLE,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.004819,2019-6
147489,HOLY CROSS,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.009639,1999-3
...,...,...,...,...,...,...,...
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10
149900,WARMIA-MASURIA,NaN,PLN,4,bread - per 1kg,NaN,2014-10
149911,SILESIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,NaN,2018-8
149921,SUBCARPATHIA,NaN,PLN,2,fresh non-dressed trout - per 1kg,NaN,2002-5
149927,PODLASKIE,NaN,PLN,2,fresh non-dressed carp - per 1kg,NaN,2004-8

In [14]:
print(f"The lowest value has:\n{df_trimed.loc[910]}")

The lowest value has:
province                                           ŁÓDŹ
product_types       frozen carrot and pea mix - per 1kg
currency                                            EUR
product_group_id                                      1
product_line                                        NaN
value                                           0.00241
date                                             2019-7
Name: 910, dtype: object

In [15]:
# Sort the data according to the following key:
# by product_types column – descending
# by value column – ascending

df_trimed.sort_values(
    by=['product_types', 'value'],
    ascending=[False, True], 
    na_position='last'
)

,province,product_types,currency,product_group_id,product_line,value,date
77657,HOLY CROSS,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,0.02,2019-10
127689,POMERANIA,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,0.02,2018-7
61883,HOLY CROSS,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,0.03,2019-7
128359,WARMIA-MASURIA,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,0.03,2019-12
70431,OPOLE,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,0.04,2019-10
...,...,...,...,...,...,...,...
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10
149900,WARMIA-MASURIA,NaN,PLN,4,bread - per 1kg,NaN,2014-10
149911,SILESIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,NaN,2018-8
149921,SUBCARPATHIA,NaN,PLN,2,fresh non-dressed trout - per 1kg,NaN,2002-5
149927,PODLASKIE,NaN,PLN,2,fresh non-dressed carp - per 1kg,NaN,2004-8