In [5]:
import pandas as pd

df = pd.read_csv(
    './01_Data/product_prices_cleaned.csv',
    sep=','
)
df.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-03-01,pork ham cooked - per 1kg,2013,3,1
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-02-01,bread - per 1kg,2018,2,1
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12-01,barley groats sausage - per 1kg,2019,12,4
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-02-01,dressed chickens - per 1kg,2019,2,1
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-03-01,Italian head cheese - per 1kg,2002,3,1

In [6]:
df_test = df.loc[
    (df['product'] == 'barley groats sausage - per 1kg') &
    (df['province'] == 'POLAND')
]
df_test.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter
888,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,4.34,2002-06-01,barley groats sausage - per 1kg,2002,6,2
3257,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,7.63,2012-03-01,barley groats sausage - per 1kg,2012,3,1
4384,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,7.24,2011-08-01,barley groats sausage - per 1kg,2011,8,3
4846,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,5.76,2008-08-01,barley groats sausage - per 1kg,2008,8,3
6033,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.70,2019-02-01,barley groats sausage - per 1kg,2019,2,1

In [7]:
df_sorted = df_test.sort_values(by=['value'], ascending=False)

In [8]:
df_sorted['rn'] = df_sorted.groupby(by=['product']).cumcount()

In [9]:
df_sorted.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter,rn
58430,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.41,2019-01-01,barley groats sausage - per 1kg,2019,1,1,0
95878,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.40,2018-08-01,barley groats sausage - per 1kg,2018,8,3,1
27810,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.33,2018-10-01,barley groats sausage - per 1kg,2018,10,4,2
17846,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.24,2019-10-01,barley groats sausage - per 1kg,2019,10,4,3
44600,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.17,2018-06-01,barley groats sausage - per 1kg,2018,6,2,4

In [10]:
df_sorted.query("rn < 10")

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter,rn
58430,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.41,2019-01-01,barley groats sausage - per 1kg,2019,1,1,0
95878,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.40,2018-08-01,barley groats sausage - per 1kg,2018,8,3,1
27810,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.33,2018-10-01,barley groats sausage - per 1kg,2018,10,4,2
17846,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.24,2019-10-01,barley groats sausage - per 1kg,2019,10,4,3
44600,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.17,2018-06-01,barley groats sausage - per 1kg,2018,6,2,4
26335,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.14,2019-09-01,barley groats sausage - per 1kg,2019,9,3,5
83383,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.12,2017-11-01,barley groats sausage - per 1kg,2017,11,4,6
46104,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.11,2018-02-01,barley groats sausage - per 1kg,2018,2,1,7
99474,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,8.98,2019-07-01,barley groats sausage - per 1kg,2019,7,3,8
79836,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,8.90,2018-12-01,barley groats sausage - per 1kg,2018,12,4,9

In [11]:
df_sorted['cs'] = df_sorted.groupby(by=['product'])['value'].cumsum()
df_sorted.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter,rn,cs
58430,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.41,2019-01-01,barley groats sausage - per 1kg,2019,1,1,0,9.41
95878,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.40,2018-08-01,barley groats sausage - per 1kg,2018,8,3,1,18.81
27810,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.33,2018-10-01,barley groats sausage - per 1kg,2018,10,4,2,28.14
17846,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.24,2019-10-01,barley groats sausage - per 1kg,2019,10,4,3,37.38
44600,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,9.17,2018-06-01,barley groats sausage - per 1kg,2018,6,2,4,46.55

In [12]:
df_sorted = df_sorted.sort_values(by=['date'], ascending=True)

In [13]:
df_sorted['cummin'] = df_sorted.groupby(by=['product'])['value'].cummin()
df_sorted.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter,rn,cs,cummin
109105,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.40,1999-01-01,barley groats sausage - per 1kg,1999,1,1,247,1506.40,3.40
63584,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.59,1999-02-01,barley groats sausage - per 1kg,1999,2,1,237,1471.56,3.40
98733,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.25,1999-03-01,barley groats sausage - per 1kg,1999,3,1,249,1512.94,3.25
34091,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.41,1999-04-01,barley groats sausage - per 1kg,1999,4,2,245,1499.60,3.25
104713,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.50,1999-05-01,barley groats sausage - per 1kg,1999,5,2,243,1492.72,3.25

In [14]:
df_sorted['cummax'] = df_sorted.groupby(by=['product'])['value'].cummax()

df_sorted.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter,rn,cs,cummin,cummax
109105,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.40,1999-01-01,barley groats sausage - per 1kg,1999,1,1,247,1506.40,3.40,3.40
63584,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.59,1999-02-01,barley groats sausage - per 1kg,1999,2,1,237,1471.56,3.40,3.59
98733,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.25,1999-03-01,barley groats sausage - per 1kg,1999,3,1,249,1512.94,3.25,3.59
34091,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.41,1999-04-01,barley groats sausage - per 1kg,1999,4,2,245,1499.60,3.25,3.59
104713,POLAND,NaN,PLN,2,barley groats sausage - per 1kg,3.50,1999-05-01,barley groats sausage - per 1kg,1999,5,2,243,1492.72,3.25,3.59